@using BirdFarm.ModelsBD;
@using OnlineBank.Models
@model CreditUser;

@{
    ViewData["Title"] = "Список Кредитов";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/css/Home.css" rel="stylesheet" />
    <style>
        .credits-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        /* Стили для каждого блока с данными о кредите */
        .credit-info {
            background-color: #f0f0f0;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            width: 100%; /* Для отображения двух блоков рядом ширина ограничена до 48% */
            position: relative; /* Позиционируем блок для формы */
        }

            /* Стили для каждого <p> с данными о кредите */
            .credit-info p {
                margin: 8px 0;
                font-size: 16px;
                line-height: 1.5;
            }

        .credit-info2 input {
            display: block;
            font-size: 16px;
            line-height: 1.5;
        }

        /* Стили для названий полей */
        .credit-info strong {
            font-weight: bold;
            color: #333;
        }

        /* Стили для форм */
        .credit-info form {
            display: block;
            margin-top: 10px;
        }

            /* Стили для кнопок в формах */
            .credit-info form button {
                padding: 5px;
                margin-bottom: 5px;
                border-radius: 8px;
                background-color: yellow;
                width: 48%; /* Чтобы кнопки занимали половину ширины формы */
            }

    </style>
    <style>
        body.back {
            background-image: url("/css/2.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

    </style>
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Выйти</a>
        <a asp-area="" asp-controller="User" asp-action="UserTools">Главное меню</a>
    </header>
    <br />
    <div style="display: flex; justify-content: center; align-items: center; min-width: 450px">
        <div class="credits-container">
            @foreach (var credit in Model.credit)
            {
                <div class="credit-info" style="background-color: rgb(255, 255, 255, 0.7);">
                    <p><strong>Название:</strong> @credit.Name</p>
                    <p><strong>Процентная ставка:</strong> @credit.Procent</p>
                    <p><strong>Срок кредитования(месяцы):</strong> @credit.Month</p>
                    <form class="credit-info2" asp-controller="User" asp-action="AddCart" method="post">
                        <div class="credit-info2">
                            <strong>Сумма (BYN):</strong><input id="creditSum" name="sum" type="number">
                            <input type="hidden" name="id" value="@credit.Id" />
                            <button type="submit">ОК</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var creditInput = document.getElementById("creditSum");
            var submitButton = creditInput.closest("form").querySelector("button");

            creditInput.addEventListener("input", function () {
                var creditSum = parseFloat(creditInput.value);
                var monthlyIncome = @Model.user.Salary; // Предположим, что это значение вашего ежемесячного дохода

                var maxAllowedPayment = monthlyIncome * 0.5; // 50% от ежемесячного дохода

                if (creditSum > maxAllowedPayment) {
                    submitButton.disabled = true;
                } else {
                    submitButton.disabled = false;
                }
            });
        });
    </script>
</body>
</html>